<section class="about-sport">
    <div class="image-about-sport">
        <img src="./img/about-sport/rectangle-mobile.jpg" alt="Sport women" srcset="
        ./img/about-sport/rectangle-desktop.jpg 400w,
        ./img/about-sport/rectangle-desktop@2x.jpg 800w,
        ./img/about-sport/rectangle-tablet.jpg 342px,
        ./img/about-sport/rectangle-tablet@2x.jpg 684w,
        ./img/about-sport/rectangle-mobile.jpg 335px,
        ./img/about-sport/rectangle-mobile@2x.jpg 670w
        ">
    </div>
    <div class="text-about-sport">
        <svg class="icon-about-sport" width="20" height="20" aria-label="icon-dumbbell">
            <use href="./img/sprite.svg#icon-dumbbell"></use>
        </svg>
        <h2>110 min</h2>
        <h3>Daily norm of sports</h3>
        <p>The World Health Organization recommends at least 150 minutes of moderate-intensity aerobic physical activity
            throughout the week for adults aged 18-64. However, what happens if we adjust that number to 110 minutes
            every day?</p>
    </div>
</section>