<section class="about-sport">
    <div class="about-sport-container container">
        <div class="image-about-sport"></div>
        <div class="block-about-sport">
            <div class="icon-container-about-sport">
                <div class="icon-about-sport">
                    <svg width="20" height="20" aria-label="icon-dumbbell">
                        <use href="./img/sprite/sprite.svg#icon-dumbbell"></use>
                    </svg>
                </div>
            </div>
            <div class="text-about-sport">
                <h2 class="title-about-sport">110 min</h2>
                <h3 class="subtitle-about-sport">Daily norm of sports</h3>
                <p class="content-about-sport">
                    The World Health Organization recommends at least 150 minutes of moderate-intensity aerobic physical
                    activity throughout the week for adults aged 18-64. However, what happens if we adjust that number
                    to 110 minutes every day?</p>
            </div>
        </div>
    </div>
</section>