<section class="about-sport">
    <div class="image-about-sport">
        <img src="./img/about-sport/rectangle-mobile.jpg" alt="Sport women" srcset="
        ./img/about-sport/rectangle-desktop.jpg 400w,
        ./img/about-sport/rectangle-desktop@2x.jpg 800w,
        ./img/about-sport/rectangle-tablet.jpg 342px,
        ./img/about-sport/rectangle-tablet@2x.jpg 684w,
        ./img/about-sport/rectangle-mobile.jpg 335px,
        ./img/about-sport/rectangle-mobile@2x.jpg 670w
        ">
    </div>

    <div class="block-about-sport">
        <div class="icon-container-about-sport">
            <div class="icon-about-sport">
                <svg width="20" height="20" aria-label="icon-dumbbell">
                    <use href="./img/sprite/sprite.svg#icon-dumbbell"></use>
                </svg>
            </div>
        </div>
        <div class="text-about-sport">
            <h2 class="title-about-sport">110 min</h2>
            <h3 class="subtitle-about-sport">Daily norm of sports</h3>
            <p class="content-about-sport">The World Health Organization recommends at least 150 minutes of
                moderate-intensity aerobic physical activity throughout the week for adults aged 18-64. However, what
                happens if we adjust that number to 110 minutes every day?</p>
        </div>
</section>