<div class="back-to-top is-hidden">
  <button class="back-to-top-button">
    <svg class="back-to-top-svg mobile" width="20" height="20">
      <use href="./sprite.svg#icon-mobile-back-to-top"></use>
    </svg>

    <svg class="back-to-top-svg tablet" width="35" height="35">
      <use href="./sprite.svg#icon-mobile-back-to-top"></use>
    </svg>

    <svg class="back-to-top-svg pc" width="50" height="50">
      <use href="./sprite.svg#icon-mobile-back-to-top"></use>
    </svg>
  </button>
</div>
