<section class="exercises">
  <h2>Exercises</h2>
  <button class="exercises-btn" type="button">Muscles</button>
  <button class="exercises-btn" type="button">Body parts</button>
  <button class="exercises-btn" type="button">Equipment</button>
  <input class="search" type="text" />
  <div class="workout-plan">
    <ul class="workout-list">
      <li>
        <div>
          <p class="workout-bubble">Workout</p>
          <p class="rating"></p>
          <button class="start">Start</button>
          <svg class="arrow" width="14" height="14">
            <use href="/src/img/sprite/sprite.svg#icon-exercises-search"></use>
          </svg>
        </div>
        <div class="training-title">
          <svg class="arrow" width="24" height="24">
            <use href="/src/img/sprite/sprite.svg#icon-exercises-man"></use>
          </svg>
          <p>Air bike</p>
        </div>
        <p>Burned calories:</p>
        <p>Body part:</p>
        <p>Target:</p>
      </li>
      <li>
        <div>
          <p class="workout-bubble">Workout</p>
          <p class="rating"></p>
          <button class="start">Start</button>
          <svg class="arrow" width="14" height="14">
            <use href="/src/img/sprite/sprite.svg#icon-exercises-search"></use>
          </svg>
        </div>
        <div class="training-title">
          <svg class="arrow" width="24" height="24">
            <use href="/src/img/sprite/sprite.svg#icon-exercises-man"></use>
          </svg>
          <p>3/4 sit-up</p>
        </div>
        <p>Burned calories:</p>
        <p>Body part:</p>
        <p>Target:</p>
      </li>
      <li>
        <div>
          <p class="workout-bubble">Workout</p>
          <p class="rating"></p>
          <button class="start">Start</button>
          <svg class="arrow" width="14" height="14">
            <use href="/src/img/sprite/sprite.svg#icon-exercises-search"></use>
          </svg>
        </div>
        <div class="training-title">
          <svg class="arrow" width="24" height="24">
            <use href="/src/img/sprite/sprite.svg#icon-exercises-man"></use>
          </svg>
          <p>45° side ben</p>
        </div>
        <p>Burned calories:</p>
        <p>Body part:</p>
        <p>Target:</p>
      </li>
      <li>
        <div>
          <p class="workout-bubble">Workout</p>
          <p class="rating"></p>
          <button class="start">Start</button>
          <svg class="arrow" width="14" height="14">
            <use href="/src/img/sprite/sprite.svg#icon-exercises-search"></use>
          </svg>
        </div>
        <div class="training-title">
          <svg class="arrow" width="24" height="24">
            <use href="/src/img/sprite/sprite.svg#icon-exercises-man"></use>
          </svg>
          <p>Barbell reverse preacher curl</p>
        </div>
        <p>Burned calories:</p>
        <p>Body part:</p>
        <p>Target:</p>
      </li>
      <li>
        <div>
          <p class="workout-bubble">Workout</p>
          <p class="rating"></p>
          <button class="start">Start</button>
          <svg class="arrow" width="14" height="14">
            <use href="/src/img/sprite/sprite.svg#icon-exercises-search"></use>
          </svg>
        </div>
        <div class="training-title">
          <svg class="arrow" width="24" height="24">
            <use href="/src/img/sprite/sprite.svg#icon-exercises-man"></use>
          </svg>
          <p>Barbell rollerout</p>
        </div>
        <p>Burned calories:</p>
        <p>Body part:</p>
        <p>Target:</p>
      </li>
      <li>
        <div>
          <p class="workout-bubble">Workout</p>
          <p class="rating"></p>
          <button class="start">Start</button>
          <svg class="arrow" width="14" height="14">
            <use href="/src/img/sprite/sprite.svg#icon-exercises-search"></use>
          </svg>
        </div>
        <div class="training-title">
          <svg class="arrow" width="24" height="24">
            <use href="/src/img/sprite/sprite.svg#icon-exercises-man"></use>
          </svg>
          <p>Barbell side split squat v. 2</p>
        </div>
        <p>Burned calories:</p>
        <p>Body part:</p>
        <p>Target:</p>
      </li>
      <li>
        <div>
          <p class="workout-bubble">Workout</p>
          <p class="rating"></p>
          <button class="start">Start</button>
          <svg class="arrow" width="14" height="14">
            <use href="/src/img/sprite/sprite.svg#icon-exercises-search"></use>
          </svg>
        </div>
        <div class="training-title">
          <svg class="arrow" width="24" height="24">
            <use href="/src/img/sprite/sprite.svg#icon-exercises-man"></use>
          </svg>
          <p>Barbell rollerout</p>
        </div>
        <p>Burned calories:</p>
        <p>Body part:</p>
        <p>Target:</p>
      </li>
    </ul>
    <div class="nums"></div>
  </div>
</section>
