<section class="exercises" id="filtres">
  <div class="body-parts-container container">
    <h2>Exercises</h2>
    <div class="buttons">
      <button class="exercises-btn" type="button">Muscles</button>
      <button class="exercises-btn active" type="button">Body parts</button>
      <button class="exercises-btn" type="button">Equipment</button>
    </div>
    <div class="input-container">
      <span class="icon-span">
        <svg class="search-icon" width="14" height="14">
          <use href="/src/img/sprite/sprite.svg#icon-exercises-search"></use>
        </svg>
      </span>
      <input class="search" type="text" placeholder="Search" />
    </div>
    <div class="workout-plan">
      <ul class="workout-list" id="body-parts">
        <li class="list-item">
          <div>
            <p class="workout-bubble">Workout</p>
            <p class="rating"></p>
            <button class="start">Start</button>
            <svg class="arrow" width="14" height="14">
              <use
                href="/src/img/sprite/sprite.svg#icon-exercises-
            arrow"
              ></use>
            </svg>
          </div>
          <div class="training-title">
            <svg class="arrow" width="24" height="24">
              <use href="/src/img/sprite/sprite.svg#icon-exercises-man"></use>
            </svg>
            <p class="training-name"></p>
          </div>
          <p>Burned calories:</p>
          <p>Body part:</p>
          <p>Target:</p>
        </li>
        <li class="list-item">
          <div>
            <p class="workout-bubble">Workout</p>
            <p class="rating"></p>
            <button class="start">Start</button>
            <svg class="arrow" width="14" height="14">
              <use href="/src/img/sprite/sprite.svg#icon-exercises-arrow"></use>
            </svg>
          </div>
          <div class="training-title">
            <svg class="arrow" width="24" height="24">
              <use href="/src/img/sprite/sprite.svg#icon-exercises-man"></use>
            </svg>
            <p class="training-name"></p>
          </div>
          <p>Burned calories:</p>
          <p>Body part:</p>
          <p>Target:</p>
        </li>
        <li class="list-item">
          <div>
            <p class="workout-bubble">Workout</p>
            <p class="rating"></p>
            <button class="start">Start</button>
            <svg class="arrow" width="14" height="14">
              <use href="/src/img/sprite/sprite.svg#icon-exercises-arrow"></use>
            </svg>
          </div>
          <div class="training-title">
            <svg class="arrow" width="24" height="24">
              <use href="/src/img/sprite/sprite.svg#icon-exercises-man"></use>
            </svg>
            <p class="training-name"></p>
          </div>
          <p>Burned calories:</p>
          <p>Body part:</p>
          <p>Target:</p>
        </li>
        <li class="list-item">
          <div>
            <p class="workout-bubble">Workout</p>
            <p class="rating"></p>
            <button class="start">Start</button>
            <svg class="arrow" width="14" height="14">
              <use href="/src/img/sprite/sprite.svg#icon-exercises-arrow"></use>
            </svg>
          </div>
          <div class="training-title">
            <svg class="arrow" width="24" height="24">
              <use href="/src/img/sprite/sprite.svg#icon-exercises-man"></use>
            </svg>
            <p class="training-name"></p>
          </div>
          <p>Burned calories:</p>
          <p>Body part:</p>
          <p>Target:</p>
        </li>
        <li class="list-item">
          <div>
            <p class="workout-bubble">Workout</p>
            <p class="rating"></p>
            <button class="start">Start</button>
            <svg class="arrow" width="14" height="14">
              <use href="/src/img/sprite/sprite.svg#icon-exercises-arrow"></use>
            </svg>
          </div>
          <div class="training-title">
            <svg class="arrow" width="24" height="24">
              <use href="/src/img/sprite/sprite.svg#icon-exercises-man"></use>
            </svg>
            <p>Barbell rollerout</p>
          </div>
          <p class="training-name"></p>
          <p>Body part:</p>
          <p>Target:</p>
        </li>
        <li class="list-item">
          <div>
            <p class="workout-bubble">Workout</p>
            <p class="rating"></p>
            <button class="start">Start</button>
            <svg class="arrow" width="14" height="14">
              <use href="/src/img/sprite/sprite.svg#icon-exercises-arrow"></use>
            </svg>
          </div>
          <div class="training-title">
            <svg class="arrow" width="24" height="24">
              <use href="/src/img/sprite/sprite.svg#icon-exercises-man"></use>
            </svg>
            <p class="training-name"></p>
          </div>
          <p>Burned calories:</p>
          <p>Body part:</p>
          <p>Target:</p>
        </li>
        <li class="list-item">
          <div>
            <p class="workout-bubble">Workout</p>
            <p class="rating"></p>
            <button class="start">Start</button>
            <svg class="arrow" width="14" height="14">
              <use href="/src/img/sprite/sprite.svg#icon-exercises-arrow"></use>
            </svg>
          </div>
          <div class="training-title">
            <svg class="arrow" width="24" height="24">
              <use href="/src/img/sprite/sprite.svg#icon-exercises-man"></use>
            </svg>
            <p class="training-name"></p>
          </div>
          <p>Burned calories:</p>
          <p>Body part:</p>
          <p>Target:</p>
        </li>
      </ul>
      <div class="nums"></div>
    </div>
  </div>
</section>
