
<div class="favorites-container">
    <div class="favorites-quote-block">
        <!-- <svg
    class=""
    width=""
    height=""
    aria-label="">
    <use href=""></use>
  </svg>
  <svg
    class=""
    width=""
    height=""
    aria-label=""
  >
    <use href=""></use>
  </svg> -->
        <h2 class="favorites-quote-title"></h2>
        <p></p>
        <h3 class="favorites-quote-author"></h3>
    </div>


    <div class="favorites-img">
    </div>

    <div class="favorites-info-block" >
        <div class="favorites-info-content">
             <svg class="favorites-info-icon" width="20" height="20" aria-label="icon-dumbbell">
              <use href="./img/sprite/sprite.svg#icon-dumbbell"></use></svg>
            <h2 class="favorites-info-title">110 min</h2>
            <p class="favorites-info-text">Daily norm of sports</p>
        </div>
    </div>

</div>