<section class="home-filters" id="home-filters">
  <div class="container filters-container">
    <div class="title-filter-wrapper">
      <h2 class="home-filters-title">Exercises</h2>
      <span class="home-filters-title"></span>
      <span class="home-filters-subtitle"></span>
    </div>
    <div class="filter-box-wrapper">
      <div class="filters-box">
        <button
          class="filters-list-item active_item"
          type="button"
          data-filter="Muscles"
        >
          Muscles
        </button>
        <button
          class="filters-list-item"
          type="button"
          data-filter="Body parts"
        >
          Body parts
        </button>
        <button class="filters-list-item" type="button" data-filter="Equipment">
          Equipment
        </button>
      </div>
      <div class="search-container"></div>
    </div>
    <div class="filters-cards-container">
      <ul class="cards-list" id="cards-list">
        <!-- Сюди будуть рендеритись усі картики -->
      </ul>
    </div>
    <div class="filters-pagination">
      <ul class="pagination-list">
        <!-- <li class="pagination-element active_pag_item" value="1">1</li>
        <li class="pagination-element" value="2">2</li> -->
      </ul>
      <ul class="exercsise-pagination-list"></ul>
    </div>
  </div>
</section>
