<section class="home-filters" id="filters">
  <h2 class="home-filters-title">Exercises</h2>
  <div class="filters-box">
    <button class="filters-list-item active">Muscles</button>
    <button class="filters-list-item">Body parts</button>
    <button class="filters-list-item">Equipment</button>
  </div>
  <div class="filters-cards-container">
    <ul class="cards-list active" id="muscles">
      <li class="cards-list-item">
        <h3 class="card-title">Abductors</h3>
        <p class="card-subtitle">Muscles</p>
      </li>
      <li class="cards-list-item">
        <h3 class="card-title">Abductors</h3>
        <p class="card-subtitle">Muscles</p>
      </li>
      <li class="cards-list-item">
        <h3 class="card-title">Abductors</h3>
        <p class="card-subtitle">Muscles</p>
      </li>
      <li class="cards-list-item">
        <h3 class="card-title">Abductors</h3>
        <p class="card-subtitle">Muscles</p>
      </li>
      <li class="cards-list-item">
        <h3 class="card-title">Abductors</h3>
        <p class="card-subtitle">Muscles</p>
      </li>
      <li class="cards-list-item">
        <h3 class="card-title">Abductors</h3>
        <p class="card-subtitle">Muscles</p>
      </li>
      <li class="cards-list-item">
        <h3 class="card-title">Abductors</h3>
        <p class="card-subtitle">Muscles</p>
      </li>
      <li class="cards-list-item">
        <h3 class="card-title">Abductors</h3>
        <p class="card-subtitle">Muscles</p>
      </li>
    </ul>
    <!-- <ul class="cards-list" id="bodyParts">
      <li class="cards-list-item">
        <h3 class="card-title">Abductors</h3>
        <p class="card-subtitle">Muscles</p>
      </li>
    </ul> -->
    <!-- <ul class="cards-list" id="Equipment">
      <li class="cards-list-item">
        <h3 class="card-title">Abductors</h3>
        <p class="card-subtitle">Muscles</p>
      </li>
    </ul> -->
  </div>
  <div class="filters-pagination">
    <ul class="pagination-list">
      <li class="pagination-element active" value="1">1</li>
      <li class="pagination-element" value="2">2</li>
    </ul>
  </div>
</section>
