<header class="header">
  <div class="navbar">
    <a class="header-logo" href="./index.html">energy.flow</a>

    <!-- navigation -->
    <nav class="header-nav">
      <ul class="header-menu list">
        <li class="header-menu-item">
          <a class="header-menu-link link" href="./index.html">Home</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link link" href="./favorites.html">Favorites</a>
        </li>
      </ul>
    </nav>

    <!-- social-list -->
    <ul class="header-social-list list">
      <li class="header-social-list-item">
        <a
          class="header-social-link link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Follow us on Facebook"
        >
          <svg
            class="header-social-icon"
            width="28"
            height="28"
            aria-label="facebook icon"
          >
            <use href="./img/sprite/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-list-item">
        <a
          class="header-social-link link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Follow us on Instagram"
        >
          <svg
            class="header-social-icon"
            width="28"
            height="28"
            aria-label="instagram icon"
          >
            <use href="./img/sprite/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-list-item">
        <a
          class="header-social-link link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Follow us on YouTube"
        >
          <svg
            class="header-social-icon"
            width="28"
            height="28"
            aria-label="youtube icon"
          >
            <use href="./img/sprite/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <!-- mobile-menu -->
    <div class="open-mobile-menu">
      <button class="open-mobile-menu-btn js-open-menu" type="button">
        <svg
          class="open-mobile-menu-icon"
          width="32"
          height="16"
          aria-label="mobile menu open icon"
        >
          <use href="./img/sprite/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
