<section class="hero" id="hero">
    <div class="hero-container container">
        <div class="static">
            <!-- prettier-ignore -->
            <img class="image-hero-girl" srcset="./img/hero/girl-desktop.jpg 704w,
            ./img/hero/girl-desktop@2x.jpg 1408w,
            ./img/hero/girl-tablet.jpg 248w,
            ./img/hero/girl-tablet@2x.jpg 496w,
            ./img/hero/girl-mobile.jpg 335w,
            ./img/hero/girl-mobile@2x.jpg 670w" sizes="(min-width: 1280px) 704px, (min-width: 768px) 248px"
                src="./img/hero/girl-mobile.jpg" alt="hero-girl_img" />

            <div class="overlay-teg">
                <div class="hero-teg-list-container">
                    <ul class="hero-teg-list">
                        <li>
                            <p class="hero-teg">#Sport</p>
                        </li>
                        <li>
                            <p class="hero-teg">#Healthy</p>
                        </li>
                        <li>
                            <p class="hero-teg">#Workout</p>
                        </li>
                        <li>
                            <p class="hero-teg">#Diet</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="container-text">
            <div class="title-container">
                <h1 class="title">Get<span class="another-color-text"> Body</span> in shape, Stay healthy</h1>
                <p class="hero-text">Transform your physique and embrace a healthier lifestyle with our comprehensive
                    fitness
                    and nutrition support.</p>
            </div>
        </div>

    </div>

</section>