<section class="hero" id="hero">
    <div class="hero-container">
        <div class="static">
            <img class="image-hero-girl" srcset="./img/hero/girl-desktop.jpg 704w,
                    ./img/hero/girl-desktop@2x.jpg 1408w,
                    ./img/hero/girl-tablet.jpg 248w,
                    ./img/hero/girl-tablet@2x.jpg 496w,
                    ./img/hero/girl-mobile.jpg 335w,
                    ./img/hero/@2x.jpg 670w"
                sizes="(min-width: 1440px) 704px, (min-width: 768px) 248px, (min-width: 375px) 335px, (min-width: 320px) 280px, (max-width: 374px) 280px"
                src="./img/hero/girl-mobile.jpg" alt="hero-girl_img" />
            <div class="overlay-teg">
                <ul class="hero-teg-list">
                    <li>
                        <p class="hero-teg">#Sport</p>
                    </li>
                    <li>
                        <p class="hero-teg">#Healthy</p>
                    </li>
                    <li>
                        <p class="hero-teg">#Workout</p>
                    </li>
                    <li>
                        <p class="hero-teg">#Diet</p>
                    </li>
                </ul>
            </div>

        </div>
        <div class="container-text">
            <h1 class="title">Get<span class="another-color-text">Body</span> in shape, Stay healthy</h1>

            <p class="hero-text">Transform your physique and embrace a healthier lifestyle with our comprehensive
                fitness and nutrition support.</p>
        </div>

    </div>

</section>