<section class="hero">
  <div class="hero-container container">
    <div class="hero-box">
      <div class="static">
        <div class="hero-bg-img"></div>
        <div class="overlay-teg">
          <ul class="hero-teg-list">
            <li>
              <p class="hero-teg">#Sport</p>
            </li>
            <li>
              <p class="hero-teg">#Healthy</p>
            </li>
            <li>
              <p class="hero-teg">#Workout</p>
            </li>
            <li>
              <p class="hero-teg">#Diet</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="title-container">
        <h1 class="hero-title">
          Get<span class="another-color-text"> Body</span> in shape, Stay
          healthy
        </h1>

        <p id="hero-text"></p>

        <!-- <p class="hero-text">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </p> -->
      </div>
    </div>
  </div>
</section>
