<div class="mobile-menu js-menu">
  <div class="mobile-menu-header">
    <a class="mobile-menu-logo" href="./index.html">energy.flow</a>

    <button class="mobile-menu-close-button js-close-menu" type="button">
      <svg
        class="mobile-close-icon"
        aria-label="mobile menu close icon"
        width="20"
        height="20"
      >
        <use href="./img/sprite/sprite.svg#icon-close-menu"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu-content">
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-list list">
        <li class="mobile-menu-item">
          <a class="mobile-menu-link link" href="./index.html"
            ><span class="mobile-active-link">Home</span></a
          >
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link link" href="./favorites.html">Favorites</a>
        </li>
      </ul>
    </nav>
  </div>

  <ul class="mobile-menu-social-list list">
    <li class="mobile-menu-social-list-item">
      <a
        class="mobile-menu-social-link link"
        href="https://www.facebook.com/goITclub/"
        target="_blank"
      >
        <svg
          class="mobile-menu-social-icon"
          width="25"
          height="25"
          aria-label="facebook icon"
        >
          <use href="./img/sprite/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-menu-social-list-item">
      <a
        class="mobile-menu-social-link link"
        href="https://www.instagram.com/goitclub/"
        target="_blank"
      >
        <svg
          class="mobile-menu-social-icon"
          width="25"
          height="25"
          aria-label="instagram icon"
        >
          <use href="./img/sprite/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-menu-social-list-item">
      <a
        class="mobile-menu-social-link link"
        href="https://www.youtube.com/c/GoIT"
        target="_blank"
      >
        <svg
          class="mobile-menu-social-icon"
          width="25"
          height="25"
          aria-label="youtube icon"
        >
          <use href="./img/sprite/sprite.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
