<div id="confirmationModal" class="modal-subscribe">
  <div class="subscribe-modal-content">
    <div class="modal-subscribe-icon-container">
      <svg class="modal-subscribe-icon" width="28" height="28" aria-label="icon-quote">
        <use href="./img/sprite/sprite.svg#icon-quote"></use></svg>
    </div>
    <button class="close-btn" type="button">
      <svg
        class="close-btn-icon"
        width="24"
        height="24"
        aria-label="modal close icon"
      >
        <use href="./img/sprite/sprite.svg#icon-modal-close"></use>
      </svg>
    </button>
    <p class="modal-subscribe-text">Thank you for subscribing!</p>
    <p class="modal-subscribe-text-span">
      You will receive notifications about new exercises.
    </p>
    <button
      class="modal-subscribe-close-button"
      type="button"
      onclick="closeConfirmationModal()"
    >
      Close
    </button>
  </div>
</div>
