<div id="confirmationModal" class="modal-subscribe">
  <div class="subscribe-modal-content">
    <button class="close-btn" type="button">
      <svg
        class="close-btn-icon"
        width="24"
        height="24"
        aria-label="modal close icon"
      >
        <use href="../img/sprite/sprite.svg#icon-modal-close"></use>
      </svg>
    </button>
    <p>
      Thank you for subscribing! You will receive notifications about new
      exercises.
    </p>
    <button type="button" onclick="closeConfirmationModal()">Close</button>
  </div>
</div>
