<div class="modal-rating  js-modal">
    <div class="window-modal-rating">

        <button class="modal-close-btn js-close" type="button">
            <svg class="close-btn-icon" width="24" height="24" aria-label="modal close icon">
                <use href="./img/sprite/sprite.svg#icon-modal-close"></use>
            </svg>
        </button>
        <h3 class="mrating-title">Rating</h3>
        <form action="#" class="rating-form">

            <div class="mrating rating-set">
                <div class="mrating-value">0.0</div>
                <div class="mrating-body">
                    <svg class="modal-star-icon" width="24" height="24" aria-label="modal star icon">
                        <use href="./img/sprite/sprite.svg#icon-exercises-star"></use>
                    </svg>
                    <svg class="modal-star-icon" width="24" height="24" aria-label="modal star icon">
                        <use href="./img/sprite/sprite.svg#icon-exercises-star"></use>
                    </svg>
                    <svg class="modal-star-icon" width="24" height="24" aria-label="modal star icon">
                        <use href="./img/sprite/sprite.svg#icon-exercises-star"></use>
                    </svg>
                    <svg class="modal-star-icon" width="24" height="24" aria-label="modal star icon">
                        <use href="./img/sprite/sprite.svg#icon-exercises-star"></use>
                    </svg>
                    <svg class="modal-star-icon" width="24" height="24" aria-label="modal star icon">
                        <use href="./img/sprite/sprite.svg#icon-exercises-star"></use>
                    </svg>
                    <div class="mrating-active">
                        <svg class="modal-star-icony" width="24" height="24" aria-label="modal star icon">
                            <use href="./img/sprite/sprite.svg#icon-exercises-star"></use>
                        </svg>
                        <svg class="modal-star-icony" width="24" height="24" aria-label="modal star icon">
                            <use href="./img/sprite/sprite.svg#icon-exercises-star"></use>
                        </svg>
                        <svg class="modal-star-icony" width="24" height="24" aria-label="modal star icon">
                            <use href="./img/sprite/sprite.svg#icon-exercises-star"></use>
                        </svg>
                        <svg class="modal-star-icony" width="24" height="24" aria-label="modal star icon">
                            <use href="./img/sprite/sprite.svg#icon-exercises-star"></use>
                        </svg>
                        <svg class="modal-star-icony" width="24" height="24" aria-label="modal star icon">
                            <use href="./img/sprite/sprite.svg#icon-exercises-star"></use>
                        </svg>
                    </div>

                    <div class="mrating-items">
                        <input type="radio" class="mrating-item" value="1" name="mrating" required>
                        <input type="radio" class="mrating-item" value="2" name="mrating">
                        <input type="radio" class="mrating-item" value="3" name="mrating">
                        <input type="radio" class="mrating-item" value="4" name="mrating">
                        <input type="radio" class="mrating-item" value="5" name="mrating">
                    </div>
                </div>

            </div>

            <div class="message-container">
                <p class="message"></p>
            </div>


            <label for="email"></label>
            <input type="email" class="email" placeholder="Email" id="email" name="email"
                title="xxxx.xxx@xxxx.xxx" required>
            <label for="comment"></label>
            <textarea class="textarea" placeholder="Your comment" id="comment" name="comment" required></textarea>
            <button class="rating-button js-sbutton" type="submit" name="ratbtn"> Send</button>

        </form>
    </div>
</div>