.about-sport {
    display: flex;
    flex-direction: column;
}

.image-about-sport {
    display: flex;
    width: 100%;
    height: 269px;
    border-radius: 30px;
}

@media screen and (min-width: 768px) {
    .image-about-sport {
        height: 302px;
        border-radius: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .about-sport {
        flex-direction: row;
    }
}

.block-about-sport {
    display: flex;
    width: 100%;
    height: 269px;
    border-radius: 30px;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 40px;
    background-color: #1B1B1B;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
    .block-about-sport {
        height: 302px;
        border-radius: 50px;
        padding-top: 64px;
        padding-left: 64px;
        padding-bottom: 64px;
    }
}

.icon-container-about-sport {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 246, 246, 0.10);
    ;
    border-radius: 50%;
}

.icon-about-sport {
    margin: 6px;
    width: 20px;
    height: 20px;
    fill: #f6f6f6;
}

.text-about-sport {
    margin-left: 18px;
    color: rgba(246, 246, 246, 0.60);
}

@media screen and (min-width: 1280px) {
    .text-about-sport {
        margin-left: 24px;
    }
}

.title-about-sport {
    color: #f6f6f6;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

@media screen and (min-width: 768px) {
    .title-about-sport {
        font-size: 24px;
        line-height: 32px;
    }
}

.subtitle-about-sport {
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.content-about-sport {
    width: 245px;
    height: 127px;
    margin-top: 14px;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

@media screen and (min-width: 768px) {
    .content-about-sport {
        width: 526px;
        height: 97px;
        margin-top: 25px;
        font-size: 16px;
        line-height: 24px;
    }
}