.about-sport-container {
  padding-left: 0;
  padding-right: 0;
}

.image-about-sport {
  display: flex;
  width: 100%;
  height: 269px;
  border-radius: 30px;
  background-image: url(../img/about-sport/rectangle-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-resolution: 192dpi) and (min-width: 375px),
screen and (min-resolution: 2dppx) and (min-width: 375px),
screen and (min-device-pixel-ratio: 2) and (min-width: 375px) {
  .image-about-sport {
    background-image: url(../img/about-sport/rectangle-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .image-about-sport {
    width: 100%;
    height: 302px;
    border-radius: 50px;
    background-image: url(../img/about-sport/rectangle-tablet.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .image-about-sport  {
    background-image: url(../img/about-sport/rectangle-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .about-sport-container {
    display: flex;
    flex-direction: row;
    width: 1408px;
  }

  .image-about-sport {
    background-image: url(../img/about-sport/rectangle-desktop.jpg);
    width: 704px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
  .image-about-sport {
    background-image: url(../img/about-sport/rectangle-desktop@2x.jpg);
  }
}

.block-about-sport {
  display: flex;
  width: 100%;
  height: 269px;
  border-radius: 30px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  background-color: #1b1b1b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .block-about-sport {
    width: 100%;
    height: 302px;
    border-radius: 50px;
    padding-top: 64px;
    padding-right: 96px;
    padding-bottom: 64px;
    padding-left: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .block-about-sport {
    padding-right: 64px;
    width: 704px;
  }
}

.icon-container-about-sport {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  background-color: rgba(246, 246, 246, 0.1);
  border-radius: 50%;
}

.icon-about-sport {
  margin: 6px;
  width: 20px;
  height: 20px;
  fill: #f6f6f6;
}

.text-about-sport {
  padding-left: 18px;
  color: rgba(246, 246, 246, 0.6);
}

@media screen and (min-width: 1280px) {
  .text-about-sport {
    padding-left: 24px;
  }
}

.title-about-sport {
  color: #f6f6f6;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .title-about-sport {
    font-size: 24px;
    line-height: 1.33;
  }
}

.subtitle-about-sport {
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.286;
}

.content-about-sport {
  width: 245px;
  height: 127px;
  flex-shrink: 0;
  padding-right: 20px;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}

@media screen and (min-width: 768px) {
  .content-about-sport {
    width: 526px;
    height: 97px;
    margin-top: 25px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .about-sport {
    overflow: hidden;
  }
}
