.back-to-top {
  z-index: 999;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  transition: background-color 0.5s;
}
.back-to-top:hover,
.back-to-top:focus {
  background-color: #7e847f;
}
.back-to-top-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 54px;
  height: 54px;
  background-color: transparent;
  border-radius: 30px;
  border: none;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}
