@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.back-to-top {
  z-index: 888;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  transition: background-color 0.5s;
  width: 40px;
  height: 40px;
  background-color: #7e847f;
  opacity: 0.7;
}

.back-to-top:hover,
.back-to-top:focus {
  animation: pulse 1s infinite;
  transition: 0.3s;
  opacity: 0.9;
}

.back-to-top-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}

.tablet,
.pc {
  display: none;
}

@media screen and (min-width: 768px) {
  .back-to-top {
    transition: opacity 700ms;
    width: 70px;
    height: 70px;
  }

  .mobile,
  .pc {
    display: none;
  }

  .tablet {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .back-to-top {
    width: 100px;
    height: 100px;
  }

  .mobile,
  .tablet {
    display: none;
  }
  .pc {
    display: block;
  }
}
