.header-exercises {
  color: #1b1b1b;
  font-family: 'DM Sans', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
}

.body-parts-container {
  background-color: #e8e8e8;
  border-radius: 30px;
  width: 335px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.exercises-btn {
  display: flex;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background-color: #f6f6f6;
  color: #1b1b1b;
  font-family: 'DM Snas', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  border: none;
}

.active {
  display: flex;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background-color: #7e847f;
  color: #f6f6f6;
  font-family: 'DM Snas', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  border: none;
}

.buttons {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 40px;
  position: relative;
}

.search {
  padding: 12px 14px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: #221e1e;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 0.78;
  border-radius: 30px;
  background-color: #f6f6f6;
  border: none;
  width: 100%;
}

.search-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  stroke: #1b1b1b;
  fill: #ffffff;
}

.workout-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.list-item {
  border-radius: 15px;
  background-color: #fff;
  width: 295px;
  padding: 16px;
}

.workout-bubble {
  border-radius: 15px;
  background-color: #7e847f;
  width: 76px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 8px;
  color: #f6f6f6;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.workout-container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.workout-and-icons {
  display: flex;
  justify-content: space-between;
}

.start {
  color: #1b1b1b;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 0.78;
  border: none;
  background-color: #fff;
}

.star-cont {
  display: flex;
  gap: 2px;
  align-items: center;
}

.rating-num {
  color: #1b1b1b;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.star-icon {
  display: block;
  fill: #eea10c;
}

.icon-man {
  fill: #7e847f;
  stroke: #f6f6f6;
}

.start-cont {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  position: relative;
  background-color: #ffffff;
  border: none;
}

.arrow {
  stroke: #1b1b1b;
  display: block;
  position: absolute;
}

.training-title {
  display: flex;
  gap: 16px;
  margin-top: 25px;
  margin-bottom: 18px;
  align-items: center;
}

.training-name {
  color: #1b1b1b;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

.indicators-cont {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 6px 16px;
  flex-wrap: wrap;
}

.indicators {
  color: rgba(27, 27, 27, 0.4);
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.indicators-item {
  color: #1b1b1b;
}

.pages {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-num {
  display: flex;
  padding: 0px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  width: 31px;
  height: 32px;
  color: rgba(27, 27, 27, 0.4);
}

.active-item {
  border: 1px solid #1b1b1b;
  color: #1b1b1b;
}

/* Tablet-стилі */

@media screen and (min-width: 768px) {
  .header-exercises {
    font-size: 44px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
  }

  .buttons {
    gap: 8px;
    max-width: 359px;
    margin-bottom: 0;
  }

  .exercises-btn {
    font-size: 14px;
    line-height: 1.29;
    padding: 10px 20px;
  }

  .input-container {
    margin-bottom: 0;
    width: 246px;
  }

  .body-parts-container {
    padding: 44px 48px;
    border-radius: 50px;
    width: 736px;
  }

  .filter-items {
    display: flex;
    margin-bottom: 53px;
    justify-content: space-between;
  }

  .search::placeholder {
    color: #1b1b1b;
    font-size: 16px;
    line-height: 1.5;
  }

  .search-icon {
    transform: translateY(-50%);
  }

  .workout-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 14px;
    row-gap: 20px;
    margin-bottom: 32px;
  }

  .list-item {
    width: 313px;
  }

  .training-name {
    font-size: 24px;
    line-height: 1.5;
  }
}

/* Screen-стилі */

@media screen and (min-width: 1280px) {
  .workout-list {
    column-gap: 20px;
    row-gap: 28px;
  }

  .body-parts-container {
    width: 1408px;
  }

  .filter-items {
    margin-bottom: 32px;
  }

  .list-item {
    width: 424px;
  }
}
