h2 {
  color: #1b1b1b;
  font-family: 'DM Sans', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
}

/* .exercises {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
} */

.body-parts-container {
  background-color: #e8e8e8;
  border-radius: 30px;
  width: 335px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.exercises-btn {
  display: flex;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background-color: #f6f6f6;
  color: #1b1b1b;
  font-family: 'DM Snas', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  border: none;
}

.active {
  display: flex;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background-color: #7e847f;
  color: #f6f6f6;
  font-family: 'DM Snas', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  border: none;
}

.buttons {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input-container {
  max-width: 295px;
  margin-bottom: 40px;
  position: relative;
}

.search {
  padding: 12px 14px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: #1b1b1b;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 0.78;
  border-radius: 30px;
  background-color: #f6f6f6;
  border: none;
  width: 100%;
}

.search-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  fill: #1b1b1b;
  transform: translateY(-50%);
  display: block;
}

.workout-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-item {
  border-radius: 15px;
  background-color: #fff;
  width: 295px;
  padding: 16px;
}

.workout-bubble {
  border-radius: 15px;
  background-color: #7e847f;
  width: 76px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 8px;
  color: #f6f6f6;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.workout-container {
  display: flex;
  gap: 16px;
}

.start {
  color: #1b1b1b;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 0.78;
  border: none;
  background-color: #fff;
}

.star-icon {
  display: block;
  fill: #eea10c;
}
