/* MOBILE */

.favorites-container-header {
  max-width: 1440px;
  margin: 0;
}
.favorites-quote-icon {
fill: #F6F6F6;
}
.favorites-icon-container {
  margin-bottom: auto;
  margin-top: 40px;
  }
.favorites-quote-man-icon {
fill: #F6F6F6;
}
    
.favorites-man-container{
background-color: rgba(246, 246, 246, 0.1);
border-radius: 50%; 
width: 34px;
height: 32px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: auto;
margin-top: 40px;
margin-right: 12px;
    }
    
    .favorites-info-container{
display: flex;
flex-direction: column;
margin-bottom: auto;
margin-top: 42px;
width: 200px;
    }

    .favorites-quote-block {
      width: 335px;
      height: 272px;
      border-radius: 30px;
      background: #7E847F;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
    }
        
.favorites-title {
color: #F6F6F6;
font-feature-settings: 'clig' off, 'liga' off;
font-family: "DM Sans";
font-size: 24px;
font-weight: 500;
line-height: 1.4; 
margin-bottom: 14px;
}

#favorites-text{
color: rgba(246, 246, 246, 0.60);
font-family: "DM Sans";
font-size: 14px;
font-weight: 400;
line-height: 1.3; 
margin-bottom: 14px;

}

.favorites-author{
color: #F6F6F6;
font-family: "DM Sans";
font-size: 16px;
font-weight: 500;
}

.favorites-img {
    width: 335px;
    height: 272px;
    border-radius: 30px;
    background-image: url(../img/favorites-main/favorites-mobile.png);
    background-repeat: no-repeat;
}
        
        .favorites-info-block {
        width: 335px;
        height: 272px;
        background-color: #fff;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        
        .favorites-info-title {
        color: #1B1B1B;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: "DM Sans";
        font-size: 20px;
        font-weight: 500;
        line-height: 1; /* 100% */
        margin-bottom: 6px;
        }
        
        .favorites-info-text {
        color: rgba(27, 27, 27, 0.60);
        font-family: "DM Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.29; /* 128.571% */
        }
        
        .favorites-info-icon {
        margin-bottom: 15px;
        }       


/* @media screen and (min-resolution: 192dpi) and (min-width: 375px),
  screen and (min-resolution: 2dppx) and (min-width: 375px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 375px) {
  .favorites-img {
    background-image: url(../img/favorites-main/favorites-mobile@2.png);
  }
} */

/* TABLET */
@media screen and (min-width: 768px) {
  .favorites-quote-block {
width: 736px;
height: 302px; 
padding-right: 80px;
padding-left: 80px; 
  }

.favorites-quote-icon {
width: 48px;
height: 48px;
margin-right: auto;
}

#favorites-text {
font-size: 16px; 
line-height: 1.5;  
}
.favorites-info-container {
  width: 500px;
margin-top: 64px;
}
.favorites-man-container {
  margin-top: 64px;
}
  .favorites-img {
    width: 368px;
    height: 302px;
    border-radius: 50px;
    background-image: url(../img/favorites-main/favorites-tablet.png);
  }
.favorites-main-box {
  display:flex;
}


  .favorites-info-block {
    width: 368px;
    height: 302px;
    border-radius: 50px;
  }

  .favorites-info-title {
    font-size: 24px;
    line-height: 1.3;
    /* 133.333% */
  }

  .favorites-info-container {
    display: flex;

  }
}

/* @media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .favorites-img {
    background-image: url(../img/favorites-main/favorites-tablet@2.png);
  }
} */


/* DESKTOP */
@media screen and (min-width: 1440px) {
    .favorites-quote-block {
        width: 704px;
    } 

  .favorites-container-header {
    display: flex;
  }

  .favorites-img {
    width: 352px;
    background-image: url(../img/favorites-main/favorites-desktop.png);
  }

  .favorites-info-block {
    width: 352px;
  }
}