.home-filters {
  max-width: 1440px;
  margin: 0 auto;
}
.filters-container {
  background: #e8e8e8;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 30px;
}
.title-filter-wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}
.home-filters-title {
  color: #1b1b1b;
  font-family: 'DM Sans', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1; /* 100% */
  /* letter-spacing: -0.64px; */
}
.home-filters-subtitle {
  display: block;
  color: rgba(27, 27, 27, 0.5);
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025em;
}
.filter-box-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.filters-box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  /* margin-bottom: 40px; */
}
.filters-list-item {
  text-align: center;
  border-radius: 30px;
  border: none;
  background: #f6f6f6;
  color: #1b1b1b;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  outline: transparent;
  padding: 7px 14px;
  font-size: 14px;
  line-height: 1.286; /* 128.571% */
}
.filters-list-item.active_item {
  background: #7e847f;
  color: #f6f6f6;
}

.filters-cards-container {
  width: 736px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.cards-list-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 232px;
  border-radius: 12px;
  border: 1px solid rgba(246, 246, 246, 0.3);
}
.card-title {
  margin-bottom: 2px;
  font-size: 20px;
  color: #f6f6f6;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  line-height: 1; /* 100% */
}
.card-subtitle {
  color: rgba(246, 246, 246, 0.4);
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}

.pagination-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.pagination-element {
  color: rgba(27, 27, 27, 0.4);
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.05em;
}
.pagination-element.active_pag_item {
  width: 32px;
  height: 32px;
  color: #1b1b1b;
  text-align: center;
  border-radius: 18px;
  border: 1px solid #1b1b1b;
}

@media screen and (min-width: 768px) {
  .filters-container {
    border-radius: 50px;
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .title-filter-wrapper {
    margin-bottom: 32px;
  }
  .home-filters-title {
    font-size: 44px;
    line-height: 1.09; /* 109.091% */
    letter-spacing: -0.005em;
  }
  .home-filters-subtitle {
    font-size: 24px;
    line-height: 1;
    padding-top: 18px;
  }
  .filter-box-wrapper {
    margin-bottom: 32px;
    flex-direction: row;
    justify-content: space-between;
    gap: auto;
  }

  .filters-box {
    gap: 8px;
  }
  .filters-list-item {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1.5; /* 150% */
  }
  .cards-list {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
    margin-bottom: 32px;
  }
  .cards-list-item {
    height: 250px;
    flex-basis: calc(50% - 7px);
  }
  .card-title {
    font-size: 24px;
  }
  .pagination-element {
    font-size: 24px;
    line-height: 1.333; /* 133.333% */
    letter-spacing: 0.06em;
    cursor: pointer;
  }
}

@media screen and (min-width: 1280px) {
  .cards-list {
    gap: 40px 20px;
  }
  .cards-list-item {
    flex-basis: calc(25% - 15px);
  }
}
