.header {
  padding: 20px 20px 0 20px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  width: 335px;
  margin: 20px auto 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  color: #1b1b1b;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.02em;
}

.header-menu,
.header-social-list {
  display: none;
}

.open-mobile-menu {
  line-height: 0;
}

.open-mobile-menu-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  stroke: #7e847f;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 16px 32px 0 32px;
    width: 736px;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-logo {
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.02em;
  }

  .header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px 16px;
    width: 211px;
    height: 52px;
    border-radius: 60px;
    background-color: #7e847f;
  }

  .header-menu-link {
    padding-top: 6px;
    padding-bottom: 6px;
    color: #f6f6f6;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    position: relative;
  }

  .header-menu-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-in-out;
  }

  .header-menu-link:not(.active-home):not(.active-favorites):hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .active-home,
  .active-favorites {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b1b1b;
    border-radius: 30px;
    background-color: #ffffff;
  }

  .active-home {
    padding: 6px 26px;
  }

  .active-favorites {
    padding: 6px 14px;
  }

  .header-social-list {
    display: flex;
    gap: 12px;
  }

  .header-social-link {
    display: flex;
    padding: 8px;
    width: 44px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid rgba(126, 132, 127, 0.2);
    fill: #7e847f;
    opacity: 0.8;
    transition: 700ms, fill 400ms cubic-bezier(0.4, 0, 0.2, 1),
      border 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-social-link:hover,
  .header-social-link:focus {
    fill: #5f6560;
    border: 1px solid rgba(95, 101, 96, 0.2);
    transform: scale(1.2);
  }

  .open-mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 24px 48px 0 48px;
    width: 1408px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 24px 48px 0 48px;
    margin-right: auto;
    margin-left: auto;
  }
}
