.hero {
  width: 100%;
}

.hero-container {
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .hero-container {
    width: 736px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    width: 1408px;
  }
}

.image-hero-girl {
  flex-shrink: 0;
  border-radius: 30px;
  background: url(<path-to-image>),
    lightgray -9.01px 54.435px / 81.557% 97.596% no-repeat, #e8e8e8;
}

.static {
  position: relative;
  display: inline-block;
}

.overlay-teg {
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.hero-teg-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.hero-teg {
  display: flex;
  padding: 4px 10px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: #f6f6f6;
  font-size: 12px;
  font-style: normal;
  line-height: 14px; /* 116.667% */
  border-radius: 30px;
  border: 1px solid rgba(246, 246, 246, 0.3);
  margin: 0 0px 4px 0;
}

.hero-teg-list li:nth-child(1),
.hero-teg-list li:nth-child(2) {
  border-left: 10px solid transparent;
}
