/* Основні стилі для всіх розмірів екрану */
.hero {
  width: 100%;
}

.hero-container {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: column;
}

.static {
  width: 335px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.image-hero-girl {
  width: 335px;
  flex-shrink: 0;
  border-radius: 30px;
  background: url(./img/hero/girl-mobile.jpg) no-repeat,
    lightgray -9.01px 54.435px / 81.557% 97.596% no-repeat, #e8e8e8;
}

.overlay-teg {
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.hero-teg-list-container {
  display: flex;
  width: 141px;
  align-items: center;
  align-content: center;
  gap: 4px;
  flex-wrap: wrap;
}

.hero-teg-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.hero-teg {
  display: flex;
  padding: 4px 10px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: #f6f6f6;
  font-size: 12px;
  font-style: normal;
  line-height: 14px; /* 116.667% */
  border-radius: 30px;
  border: 1px solid rgba(246, 246, 246, 0.3);
  margin: 0 0px 4px 0;
}

.container-text {
  width: 335px;
  flex-shrink: 0;
  border-radius: 30px;
  background: hsl(0, 0%, 100%);
  flex-direction: column;
  align-items: flex-start;
  margin: 60px 20px 81px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-left: 20px; /* Додано відступ зліва */
  margin-right: 20px; /* Додано відступ справа */
  margin-top: 60px; /* Додано відступ зверху */
  margin-bottom: 81px; /* Додано відступ знизу */
}

.title {
  color: #1b1b1b;
  font-family: 'DM Sans';
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.12px;
  width: 100%;
  margin: 0;
}

.another-color-text {
  color: #7e847f;
  font-family: 'DM Sans';
  font-size: 56px;
  font-style: italic;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.12px;
}

.hero-text {
  color: #1b1b1b;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
  margin-left: 0;
}

/* Медіазапит для планшетів */
@media screen and (min-width: 768px) {
  .hero-container {
    width: 736px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-direction: row;
    align-items: flex-start;
  }

  .static {
    width: 50%;
    margin-bottom: 0;
  }

  .image-hero-girl {
    width: 248px;
    height: 900px;
    flex-shrink: 0;
    border-radius: 50px 0px 50px 50px;
    background: url(./img/hero/girl-mobile.jpg),
      lightgray -77.155px 246.761px / 209.216% 76.867% no-repeat, #e8e8e8;
  }

  .container-text {
    width: 488px;
    height: 900px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 50px;
    background: #fff;
  }

  .title-container {
    width: 100%;
  }
}

/* Медіазапит для десктопів */
@media screen and (min-width: 1280px) {
  .hero-container {
    width: 1408px;
  }

  .title-container {
    width: 100%;
    margin: 225px 32px 241px;
  }

  .image-hero-girl {
    width: 704px;
    height: 884px;
    border-radius: 50px 0px 50px 50px;
    background: url(./img/hero/girl-mobile.jpg),
      lightgray 0.472px 110.245px / 94.27% 100.099% no-repeat, #e8e8e8;
  }

  .container-text {
    width: 50%;
    margin: 20px 0 20px;
  }

  .title {
    font-size: 120px;
    line-height: 115px;
    letter-spacing: -2.4px;
  }

  .another-color-text {
    font-size: 120px;
    line-height: 115px;
    letter-spacing: -2.4px;
  }

  .hero-text {
    width: 528px;
  }
}
