.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  padding: 20px 20px 40px;
  width: 100%;
  height: 100%;

  background-color: #7e847f;

  transform: translateX(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translate(0%);
}

/* Header */

.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-logo {
  color: #f6f6f6;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.02em;
}

.mobile-menu-close-button {
  border: 0;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  stroke: #f6f6f6;
}

/* Content */

.mobile-menu-content {
  display: flex;
  justify-content: center;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.mobile-menu-link {
  color: #f6f6f6;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.mobile-active-link {
  display: flex;
  padding: 6px 26px;
  justify-content: center;
  align-items: center;

  color: #1b1b1b;
  border-radius: 30px;
  background-color: #ffffff;
}

/* Footer */

.mobile-menu-social-list {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.mobile-menu-social-link {
  display: flex;
  padding: 8px;
  width: 41px;
  height: 41px;
  border-radius: 10px;
  border: 1px solid rgba(246, 246, 246, 0.2);

  fill: #f6f6f6;
  opacity: 0.8;
}
