.quote-icon {
    fill: #F6F6F6;
    }
.quote-man-icon {
    fill: #F6F6F6;
    margin-right: 12px;
    }

.quote-block {
width: 335px;
height: 272px;
border-radius: 30px;
background: #7E847F;
display: flex;
flex-direction: column;
justify-content: center;
}

.quote-img {
    width: 335px;
    height: 272px;
    border-radius: 30px;
    background-image: url(../img/quote/quote-mobile.jpg);
    background-repeat: no-repeat;
    }

.quote-title {
color: #F6F6F6;
font-feature-settings: 'clig' off, 'liga' off;
font-family: "DM Sans";
font-size: 24px;
font-weight: 500;
line-height: 1.4; 
margin-bottom: 14px;
margin-left: 60px;

}

#quote-text {
color: rgba(246, 246, 246, 0.60);
font-family: "DM Sans";
font-size: 14px;
font-weight: 400;
line-height: 1.3; 
margin-bottom: 14px;
padding-left: 66px;
padding-right: 20px 
}

.quote-author {
color: #F6F6F6;
font-family: "DM Sans";
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
padding-left: 66px;
padding-right: 20px 
}
.quote-svg {
display: flex;
justify-content: space-between;
margin-left: 20px;
margin-right: 20px 
}

@media screen and (min-width: 768px) {
.quote-block {
width: 736px;
height: 302px; 
}
.quote-img {
width: 736px;
height: 302px; 
border-radius: 50px;
background-image: url(../img/quote/quote-tablet.jpg);
}
.quote-icon {
    width: 48px;
    height: 48px;
}
#quote-text {
    font-size: 16px; 
    line-height: 1.5; 
    
}
}
    
@media screen and (min-width: 1440px) {
    .quote-block {
        width: 704px;
        height: 304px; 
        }
    .quote-img {
        width: 704px;
        height: 304px; 
        border-radius: 50px;
        background-image: url(../img/quote/quote-desktop.jpg);
        }   
    .quote-container {
        display: flex;
    }
}
