/* mobile */
.quote-img {
  width: 335px;
  height: 272px;
  border-radius: 30px;
  background-image: url(../img/quote/quote-mobile.jpg);
  background-repeat: no-repeat;
}

@media screen and (min-resolution: 192dpi) and (min-width: 375px),
  screen and (min-resolution: 2dppx) and (min-width: 375px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 375px) {
  .quote-img {
    background-image: url(../img/quote/quote-mobile@2.jpg);
    background-size: 375px;
  }
}

.quote-container {
  padding-right: 0;
  padding-left: 0;
  width: 335px;
}

.quote-icon {
  fill: #f6f6f6;
}
.quote-icon-container {
  width: 28px;
  height: 28px;
}

.quote-man-icon {
  fill: #f6f6f6;
}

.quote-man-container {
  background-color: rgba(246, 246, 246, 0.1);
  border-radius: 50%;
  width: 34px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-block {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 20px;
  width: 335px;
  height: 272px;
  border-radius: 30px;
  background-color: #7e847f;
}

.quote-info-content {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.quote-title {
  color: #f6f6f6;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 14px;
}

#quote-text {
  color: rgba(246, 246, 246, 0.6);
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 14px;
}

.quote-author {
  color: #f6f6f6;
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .quote-block {
    width: 736px;
    height: 302px;
    padding: 64px 80px 40px;
    border-radius: 50px;
  }
  .quote-block-retreat {
    margin-bottom: 16px;
  }
  .quote-img {
    width: 736px;
    height: 302px;
    border-radius: 50px;
    background-image: url(../img/quote/quote-tablet.jpg);
  }
  .quote-container {
    width: 736px;
  }
  .quote-icon {
    width: 48px;
    height: 48px;
    margin-right: auto;
  }
  #quote-text {
    font-size: 16px;
    line-height: 1.5;
  }
  .quote-info-content {
    width: 500px;
    padding: 0 16px;
  }
  .quote-title {
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 16px;
  }
  .quote-icon-container {
    width: 48px;
    height: 48px;
    position: relative;
    bottom: 32px;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .quote-img {
    background-image: url(../img/quote/quote-tablet@2.jpg);
    background-size: 736px;
  }
}

@media screen and (min-width: 1280px) {
  .quote-block {
    width: 704px;
    height: 302px;
    padding: 64px 64px 40px;
  }
  .quote-block-retreat {
    margin-bottom: 0;
  }
  .quote-img {
    width: 704px;
    height: 302px;
    border-radius: 50px;
    background-image: url(../img/quote/quote-desktop.jpg);
  }
  .quote-container {
    width: 1408px;
    display: flex;
  }
  @media screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
    .quote-img {
      background-image: url(../img/quote/quote-desktop@2.jpg);
      background-size: 704px;
    }
  }
}
